{% extends "base/info_template.html" %}
{% block title %}Waapuro Info{% endblock %}
{% block container %}
  <a href="https://www.waapuro.org">
    <img id="waapuro-logo" src="/builtin/static/img/waapuro_logo/waapuro.png" alt="Waapuro">
  </a>
  <h1>
    Waapuro {{ settings.WAAPURO_VERSION }}
  </h1>
  <p>

  </p>
  <h2>
    リンク
  </h2>
  <ul>
    <li>
      <a href="https://www.waapuro.org/">Waapuro.org</a>
    </li>
    <li>
      <a href="https://docs.waapuro.org/">マニュアル（Manual）</a>
    </li>
    <li>
      <a href="https://www.waapuro.org/">VIP Support（VIP サポート）</a>
    </li>
    <li>
      <a href="https://docs.waapuro.org/developer/">開発者マニュアル（Manual for Developer）</a>
    </li>
  </ul>
{% endblock %}
